@model Estacionamento.AccessLayer.Entities.RegistroVeiculo

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Registro de Veículo:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PlacaVeiculo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PlacaVeiculo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataEntrada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataEntrada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataSaida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataSaida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrecoHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PrecoHora)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPagar)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValorPagar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
