@model IEnumerable<Estacionamento.AccessLayer.Entities.TabelaPreco>

@{
    ViewData["Title"] = "Index";
}

<h1>Tabela de Preço</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ValorHoraInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaInicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VigenciaFinal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHoraInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VigenciaInicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VigenciaFinal)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
